body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* すべてのdivタグをFlexboxのコンテナとして定義 */
form div {
    display: flex;
    align-items: center; /* 縦方向の中央に配置 */
    margin-bottom: 1rem; /* 下部のスペースを確保 */
}

/* ラベルタグの幅を一定にする */
form label {
    width: 150px; /* こちらの値は適切な値に調整してください */
    text-align: right; /* テキストを右寄せ */
    margin-right: 1rem; /* ラベルと入力フィールドの間のスペース */
}

/* 入力要素の幅を設定 */
form input[type="text"], form input[type="date"], form input[type="number"], form select, form textarea {
    width: 10%; /* この値は適切に調整してください */
}

/* textareaの初期の余白を削除 */
textarea {
    white-space: nowrap;
    overflow: auto;
    resize: vertical; /* 縦方向のみリサイズ可能に */
}


@media (max-width: 600px) {
    form input[type="text"], form input[type="date"], form input[type="number"], form select, form textarea {
        width: 30%;
    }
}